{% extends 'base.html.twig' %}

{% block body %}
    <h1>Contactuses list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Email</th>
                <th>Subject</th>
                <th>Message</th>
                <th>Type_of_message</th>
                <th>Status</th>
                <th>Created_at</th>
                <th>Updated_at</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for contactU in contactuses %}
            <tr>
                <td><a href="{{ path('contactus_show', { 'id': contactU.id }) }}">{{ contactU.id }}</a></td>
                <td>{{ contactU.email }}</td>
                <td>{{ contactU.subject }}</td>
                <td>{{ contactU.message }}</td>
                <td>{{ contactU.typeofmessage }}</td>
                <td>{% if contactU.status %}Yes{% else %}No{% endif %}</td>
                <td>{% if contactU.createdat %}{{ contactU.createdat|date('Y-m-d') }}{% endif %}</td>
                <td>{% if contactU.updatedat %}{{ contactU.updatedat|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('contactus_show', { 'id': contactU.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('contactus_edit', { 'id': contactU.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('contactus_new') }}">Create a new contactU</a>
        </li>
    </ul>
{% endblock %}
