{% extends 'home_page.html.twig' %}
{% block menu %}
    <i class="fa fa-angle-double-right" > </i> 
    <a   href="#">   {% trans %}User Management{% endtrans %} </a>
{% endblock %}

{% block submenu %}
    <i class="fa fa-angle-double-right" > </i> 
    <a   href="{{ path('user_index') }}">  {% trans %}User{% endtrans %}  </a> 
{% endblock %}

{% block title %}
    {% trans %}Users List{% endtrans %}
{% endblock %}

{% block flash_message %}
    {# pass a string argument to get only the messages of that type #}
    {% for message in app.flashes('success') %}
        <div id="success-alert" class="alert alert-success alert-dismissible show"
             role="alert">
            <strong>Success!</strong>
            {{ message }}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    {% endfor %}
    {% for message in app.flashes('warning') %}
        <div class="alert alert-warning alert-dismissible show" role="alert">
            <strong>Warning!</strong>
            {{ message }}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    {% endfor %}
    {# pass a string argument to get only the messages of that type #}
    {% for message in app.flashes('error') %}
        <div class="alert alert-error alert-dismissible show" role="alert">
            <strong>Error!</strong>
            {{ message }}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    {% endfor %}

    {# pass a string argument to get only the messages of that type #}
    {% for message in app.flashes('notice') %}
        <div class="alert alert-error alert-dismissible show" role="alert">
            <strong>Error!</strong>
            {{ message }}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    {% endfor %}

{% endblock %}
{% block body %}<!--  -->

    <!-- modal  -->
    <div   id="showPermissioModal" class="modal" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">{% trans %} User Detail Information{% endtrans %}</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body" id="showDetailContent">
                </div>
            </div>
        </div>
    </div>

    <!-- create new check here -->
    {% block side_form %}
        <div class="col-md-3 col-sm-3 col-xs-12">
            <section class="panel" id="formside_user">
                {% block sidebartitle %}

                    <h3 class="green"><i class="fa fa-plus"></i> {% trans %}New{% endtrans %}</h3>
                {% endblock %}
                {{ form_start(form, {'action': path('user_new')}) }}
                {{ form_widget(form) }}
                <input class="btn btn-primary btn-responsive btn-sm btn-block" type="submit" value="{% trans %}Create{% endtrans %}" /> 
                {{ form_end(form) }}

            </section>
        </div>
    {% endblock %}
    <!-- /tuke -->
    <h1 class="col-md-9 box box-primary" style="padding-left: 20%; background-color: #ddd;">User Details</h1>
    <div class="col-md-9">
            {% block list %}


            <table id="PrintableContent"  id="datatable_col_reorder" class="table table-striped jambo_table bulk_action">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>{% trans %}First name{% endtrans %}</th>
                        <th>{% trans %}Middle name{% endtrans %}</th>
                        <th>{% trans %}Last name{% endtrans %}</th>
                        <th>{% trans %}Phone{% endtrans %}</th>
                        <th>{% trans %}Status{% endtrans %}</th>
                        <th>{% trans %}Gender{% endtrans %}</th>
                        <th>{% trans %}Office{% endtrans %}</th>
                        <th id='no-print' class="input-group column col-sm-2 col-xs-1 sidebar-offcanvas">{% trans %}Actions{% endtrans %}</th>
                    </tr>
                </thead>
                <tbody>
                    {% set counter=1 %}
                    {% for user in users %}
                        <tr class="active">
                            <td>{{ counter }}</td>
                            <td>{{ user.firstname }}</td>
                            <td>{{ user.middlename }}</td>
                            <td>{{ user.lastname }}</td>
                            <td>{{ user.phone }}</td>
                            <td>{{ user.status }}</td>
                            <td>{{ user.gender }}</td>
                            <td>{{ user.office }}</td>
                            <td id='no-print' nowrap="no">

 <!-- log history  -->
                       <span data-toggle="modal" title="{% trans %}Log history{% endtrans %}" 
                                  data-target="#showLogHistoryModal" id="showLog{{user.id}}" type="button"  class="btn  btn-xs btn-default" >
                                <i class="glyphicon glyphicon-lock "></i>
                            </span>

                            <div class="modal fade" id="showLogHistoryModal"
                                 role="dialog" aria-labelledby="showUserInfoModalLabel" aria-hidden="true">
                                <div class="modal-dialog" style="width: 80%; " role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <strong class="modal-title" >{% trans %}Log History{% endtrans %}</strong>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body" id="showUserInfoModalContent">
                                        </div>
                                        <div class="modal-body" id="showLogModalContent">
                                        </div>
                                    </div>
                                </div>
                            </div>


                            <script>
                                $("#showLog{{user.id}}").click(function () {
                                    $.ajax({
                                        url: "{{ path('ocaua_entity_log', {'selectedBundle':'OSTUA','selectedEntity':'User', 'id': user.id }) }}",
                                        success: function (result) {
                                            $("#showLogModalContent").html(result);
                                            $("#showLogModalContent").notify("Succesfully Loaded!", {
                                                position: "top",
                                                className: "success"
                                            });
                                        }, error: function (xhr, status, error) {
                                            $("#showUserInfoModalContent").notify(xhr.responseText, {
                                                position: "top",
                                                className: "error"
                                            });
                                        }
                                    });
                                });
                            </script>

<!-- endlog history -->

                                <div class="input-group ">
                                    <div class="dropdown">
                                        <button 
                                            class="
                                            btn  btn-xs btn-primary dropdown-toggle 
                                                {% if user.isEnabled is not same as(true) %}
                                                label-danger
                                                {% else %}
                                                label-success
                                                {% endif %}
                                                " type="button" data-toggle="dropdown">
                                            <i class="ace-icon fa fa-user">
                                            </i> {% trans %}Status{% endtrans %}       
                                            <span class="caret"></span>
                                        </button>
                                        <ul class="dropdown-menu"> 
                                            <li> <a href="{{ path('user_swich_status', { 'id': user.id}) }}"> 
                                                
                                                 {% if user.isEnabled is not same as(true) %}
                                            <label class="green"  style="cursor: pointer;" > 
                                               <i class="ace-icon fa fa-user"></i> 
                                               {% trans %}Activate{% endtrans %} 
                                                 </label>
                                                {% else %}
                                                <label class="red " style="cursor: pointer;">  
                                                 <i class="ace-icon fa fa-user"></i> 
                                                 {% trans %}Deactivate{% endtrans %}
                                                 </label>
                                                {% endif %}
                                                </a> 
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="input-group-btn" >
                                        <span title="Show" class="btn  btn-xs" data-toggle="modal" data-target="#showPermissioModal" id="showuserDetail{{user.id}}">
                                            <i class="glyphicon glyphicon-eye-open"></i>
                                        </span>
                                        <span title="Edit" class="btn  btn-xs" id="editDetail{{user.id}}">
                                            <i class="ace-icon fa fa-edit"></i>
                                        </span>
                                         
                                      {#  <a class="btn  btn-xs btn-info" href="{{ path('user_card', { 'user': user.id }) }}">UC</a>   #}
                                    </div>
                                </div>
                                <script>
                                    $(document).ready(function () {
                                        $("#editDetail{{user.id}}").click(function () {
                                            $.ajax({
                                                url: "{{ path('user_edit', {'id':user.id}) }}",
                                                success: function (result) {
                                                    $("#formside_user").html(result);

                                                }, error: function (xhr, status, error) {
                                                    $("#formside_user").html("Problem");

                                                }
                                            });
                                        });
                                    });
                                </script>

                                <script>
                                    $(document).ready(function () {
                                        $("#showuserDetail{{user.id}}").click(function () {
                                            $.ajax({
                                                url: "{{ path('user_showusr', {'id':user.id}) }}",
                                                success: function (result) {
                                                    $("#showDetailContent").html(result);

                                                }, error: function (xhr, status, error) {
                                                    $("#showDetailContent").html("Problem");

                                                }
                                            });
                                        });
                                    });
                                </script>


                        <script>
                            {% if user.username|trim is not empty or user.username|trim is not null  %}
                                $(document).ready(function () {
                                    $("#showUserInfo{{user.username}}{{user.id}}").click(function () {
                                        $.ajax({
                                            url: "{{ path('user_contact_info', { 'username': user.username ? user.username : 'InvalidUN' }) }}",
                                            success: function (result) {
                                                $("#showUserInfoModalContent").html(result);
                                                $("#showUserInfoModalContent").notify("Succesfully Loaded!", {
                                                    position: "top",
                                                    className: "success"
                                                });
                                            }, error: function (xhr, status, error) {
                                                $("#showUserInfoModalContent").notify(xhr.responseText, {
                                                    position: "top",
                                                    className: "error"
                                                });
                                            }
                                        });
                                    });
                                });


                                $("#showUserInfo{{user.username}}{{user.id}}").click(function () {
                                    $.ajax({
                                        url: "{{ path('ocaua_entity_log', {'selectedBundle':'ocaua','selectedEntity':'User', 'id': user.id }) }}",
                                        success: function (result) {
                                            $("#showLogModalContent").html(result);
                                            $("#showLogModalContent").notify("Succesfully Loaded!", {
                                                position: "top",
                                                className: "success"
                                            });
                                        }, error: function (xhr, status, error) {
                                            $("#showUserInfoModalContent").notify(xhr.responseText, {
                                                position: "top",
                                                className: "error"
                                            });
                                        }
                                    });
                                });
                    {% endif %}

                        </script>



                                <!-- /input-group -->
                            </td>
                        </tr>
                        {% set counter=counter+1 %}
                    {% endfor %}
                </tbody>
            </table>

        {% endblock   %}
        {% block table_footer %}
            <!-- buttom bar -->
            <div class="row well  ">
                <div class="col-md-1 col-sm-1 co2-xs-12">
                    <!-- first content -->
                </div>
                <div class="col-md-4 col-sm-4 col-xs-12 ">
                    <h5  style="padding-top: 0px;">
                        {% trans %}Total  users   Count{% endtrans %}: 
                        {{ users.getTotalItemCount }}
                    </h5>
                </div>
                <div class="col-md-7 col-sm-7 col-xs-12"> 
                    {{ knp_pagination_render(users) }}
                </div>
            </div>
        {% endblock %}
        <!-- buttom bar end -->
    </div> 
{% endblock %}
