{% extends 'mailLayout.html.twig' %}

{% block body2 %}
    <div class="col-md-12 mail-right-content">
    <table class="table table-hover">
    {% for draftMail in draftMails %}
    <tr class="read">
    <td class="check"><input type="checkbox" class="icheck" name="checkbox1" /></td>
    <td class="contact">
    <a href="{{ path('mail_show', { 'id': draftMail.id }) }}">{% if draftMail.repliedTo %} Re: {% endif %}{{ draftMail.sender }}  </a> <span class="label pull-right label-primary">{{ draftMail.mailtag }}</span>
    </td>
    <td class="subject">
    <a href="{{ path('mail_show', { 'id': draftMail.id }) }}">{{ draftMail.mailsubject }}</a>
    </td>
    </tr>
    {% endfor %}
    </table>
    </div>
{% endblock %}