{% extends 'home_page.html.twig' %}

{% block body %}
    <h1>Recievedletter</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ recievedLetter.id }}</td>
            </tr>
            <tr>
                <th>Date</th>
                <td>{% if recievedLetter.date %}{{ recievedLetter.date|date('Y-m-d') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Ref_number</th>
                <td>{{ recievedLetter.refnumber }}</td>
            </tr>
            <tr>
                <th>Subject</th>
                <td>{{ recievedLetter.subject }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('recievedletter_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('recievedletter_edit', { 'id': recievedLetter.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
